#aboutLanding {
  background: linear-gradient(rgba(0,0,0, .01), rgba(0,0,0, 1)), url('http://1.bp.blogspot.com/-wOO64cpn0EE/UAnc09Ei6AI/AAAAAAAAAQw/iYmDT6g-bKg/s1600/483274_10101100836581523_212466773_n.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFF;
  height: 100%;
  h1 {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 3px 4px  #000;
    margin: 50% 0 0 0;
  }
  i {
    color: #FFF;
    text-align: center;
  }
}



#carabiner {
  background: url('http://demandware.edgesuite.net/aakn_prd/on/demandware.static/-/Sites-BlackDiamond-Library/default/dw56c5d8d6/images/Experience/QC_Lab/rope-worn-biners/CRW_6011.jpg') no-repeat center center fixed;
  background-size: cover;
}