<!-- Modal -->
<div zf-modal="" id="addRouteModal" class="collapse">
    <div class="grid-block vertical">
      <div class="primary title-bar">
        <div class="center title">Add a Route that Needs Help</div>
        <span zf-close="" class="right"><a>Close</a></span>
      </div>
      <div class="grid-content">
        <form>
          <div class="grid-block">
            <div class="grid-content medium-6">  
              <label> 
                <h4>Route Name</h4>
                <input type="text" ng-model="newRoute.name" placeholder="Pure Imagination">
              </label>
            </div>
            <div class="grid-content medium-6">  
              <label>
                <h4>Image</h4>
                <span class="inline-label">
                <span class="form-label">URL</span>
                <input type="url" ng-model="newRoute.image_url" placeholder="http://google.com/images/kitten.jpg">
                </span>
              </label>
            </div>
          </div>
          <div class="grid-block">
            <div class="grid-content medium-6">          
              <label> 
                <h4>Sector</h4>
                <input type="text" ng-model="newRoute.sector" placeholder="Chocolate Factory">
              </label>
            </div>
            <div class="grid-content medium-6">          
              <label> 
                <h4>Bolted By</h4>
                <input type="text" ng-model="newRoute.bolted_by" placeholder="Jonathan Seigrist">
              </label>
            </div>
          </div>
          <div class="grid-block">
            <div class="grid-content medium-6">
              <label> 
                <h4>Bolt Condition</h4>
                <input type="number" ng-model="newRoute.bolt_condition" placeholder="0-5" min="0" max="5">
              </label>
            </div>
            <div class="grid-content medium-6">
              <label> 
                <h4>Last Bolted</h4>
                <input type="text" ng-model="newRoute.last_bolted" placeholder="06/22/1998">
              </label>
            </div>
          </div>
          <div class="grid-block">
            <div class="grid-content medium-6">
              <label> 
                <h4>Grade</h4>
                <select ng-model="newRoute.grade" placeholder="5.14c">
                  <option value="5.5">5.5</option>
                  <option value="5.6">5.6</option>
                  <option value="5.7">5.7</option>
                  <option value="5.8">5.8</option>
                  <option value="5.9">5.9</option>
                  <option value="5.10a">5.10a</option>
                  <option value="5.10b">5.10b</option>
                  <option value="5.10c">5.10c</option>
                  <option value="5.10d">5.10d</option>
                  <option value="5.11a">5.11a/b</option>
                  <option value="5.11c">5.11c</option>
                  <option value="5.11d">5.11d</option>
                  <option value="5.12a">5.12a</option>
                  <option value="5.12b">5.12b</option>
                  <option value="5.12c">5.12c</option>
                  <option value="5.12d">5.12d</option>
                  <option value="5.13a">5.13a</option>
                  <option value="5.13b">5.13b</option>
                  <option value="5.13c">5.13c</option>
                  <option value="5.13d">5.13d</option>
                  <option value="5.14a">5.14a</option>
                  <option value="5.14b">5.14b</option>
                  <option value="5.14c">5.14c</option>
                  <option value="5.14d">5.14d</option>
                  <option value="5.15a">5.15a</option>
                  <option value="5.15b">5.15b</option>
                  <option value="5.15c">5.15c</option>
                  <option value="5.15d">5.15d</option>
                </select>




              </label>
            </div>
            <div class="grid-content medium-6">
              <label> 
                <h4>Hardware</h4>
                <select ng-model="newRoute.bolt_type" name="state">
                  <option value="Stainless Steel">Stainless Steel</option>
                  <option value="Titanium">Titanium</option>
                  <option value="Glue In">Glue In</option>
                  <option value="Plated Steel">Plated Steel</option>
                </select>
              </label>
            </div>
          </div>
          <div class="grid-block">
            <div class="grid-content medium-6">
              <label> 
                <h4>Description of Issue</h4>
                  <textarea ng-model="newRoute.description" name="description" rows="2" cols="25" placeholder="An abundance of steep well featured sandstone make this area a world class destination."></textarea>
              </label>
            </div>
            <div class="grid-content medium-6">
              <label> 
                <h4>Fixed Gear?</h4>
                <textarea rows="2" cols="25" ng-model="newRoute.fixed_gear" placeholder="ClimbTech 22kn cable permadraws"></textarea>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="grid-block align-right">
        <a class="button" ng-click="addRoute()">Submit</a>
      </div>
    </div>
</div>
  
<!-- Specific Climb Details Panel -->
<div zf-panel="" class="panel-fixed" id="routeDetails" position="right">
  <h4 class="text-right"><a class="expand button" zf-close="routeDetails">&#10094; Back</a></h4>
  <!-- <a zf-close="" class="close-button" ng-click="submitClimbEdits()">×</a> -->
  <h3 class="text-center">{{ climb.name }}</h3>
  <a href="https://www.facebook.com/actionfundclimbing" class="expand button success"><h4 class="text-center">Donate Now!</h4></a>

  <img class="thumbnail" ng-src="{{ climb.image_url }}">
   
  <label>
    <h5>Descritpion of Issue</h5>
      <div class="grid-content">
        <textarea rows="4" ng-model="climb.description"></textarea> 
      </div>  
  </label>
  <label>
    <span class="inline-label">
      <span class="form-label">Grade</span>
      <select ng-model="climb.grade" value="{{ climb.grade }}">
        <option value="5.5</option">5.5</option>
        <option value="5.6">5.6</option>
        <option value="5.7">5.7</option>
        <option value="5.8">5.8</option>
        <option value="5.9">5.9</option>
        <option value="5.10a">5.10a</option>
        <option value="5.10b">5.10b</option>
        <option value="5.10c">5.10c</option>
        <option value="5.10d">5.10d</option>
        <option value="5.11a">5.11a/b</option>
        <option value="5.11c">5.11c</option>
        <option value="5.11d">5.11d</option>
        <option value="5.12a">5.12a</option>
        <option value="5.12b">5.12b</option>
        <option value="5.12c">5.12c</option>
        <option value="5.12d">5.12d</option>
        <option value="5.13a">5.13a</option>
        <option value="5.13b">5.13b</option>
        <option value="5.13c">5.13c</option>
        <option value="5.13d">5.13d</option>
        <option value="5.14a">5.14a</option>
        <option value="5.14b">5.14b</option>
        <option value="5.14c">5.14c</option>
        <option value="5.14d">5.14d</option>
        <option value="5.15a">5.15a</option>
        <option value="5.15b">5.15b</option>
        <option value="5.15c">5.15c</option>
        <option value="5.15d">5.15d</option>
      </select>
      <!-- <input type="text" ng-model="climb.grade"> -->
    </span>




  </label>
    
  <label>
    <span class="inline-label">
      <span class="form-label">Sector</span>
      <input type="text" ng-model="climb.sector">
    </span>
  </label>
    
  <label>
    <span class="inline-label">
      <span class="form-label">Bolted By</span>
      <input type="text" ng-model="climb.bolted_by">
    </span>
  </label>
    

  <label>
    <span class="inline-label">
      <span class="form-label">Hardware</span>
      <!-- <select ng-options="option.$value for option in bolt_types track by option.$value" ng-model="climb.bolt_type"></select> -->
      <select ng-model="climb.bolt_type">
      <option ng-repeat="option in bolt_types" value="{{option.$value}}">{{ option.$value }}</option>
    </select>
    </span>
  </label>

  <label>
    <span class="inline-label">
      <span class="form-label">Bolted Condition</span>
      <input type="number" ng-model="climb.bolt_condition" min="0" max="5">
    </span>
  </label>
  <label>
    <span class="inline-label">
      <span class="form-label">Fixed Gear</span>
      <input type="text" ng-model="climb.fixed_gear">
      <!-- <textarea rows="2" ng-model="climb.fixed_gear">></textarea> -->
    </span>
  </label>
  <a zf-close="" class="button" ng-click="submitClimbEdits()">Submit Changes</a>
</div>

<div class="grid-block shrink wrap">
  <!-- <div class="grid-block small-12"> -->
    <!-- <div class="grid-block"> -->
      <div class="grid-content small-12 medium-6 large-8">
        <div id="cragInstructions" class="card">
          <div  class="card-divider">
            <h4>You can search for routes other users have added, or add your own.  Use <a><i class="fa fa-thumbs-up"></i></a> and <a><i class="fa fa-thumbs-down"></i></a> to move climbs based on how urgently they need attention. Click a route name to donate or edit the details.</h4>
          </div>
        </div>
      </div>
      <div class="grid-block small-12 medium-6 large-4 wrap">
        <div class="grid-content small-12">
        <h2 class="text-center">{{ crag.name }}</h2>
        </div>
        <div class="grid-content small-12">
          <label>
            <span class="inline-label">
            <input type="search" placeholder="Search for a route" ng-model="climbSearch">
            <!-- <a href="#" class="button">Search</a> -->
            </span>
          </label>
        </div>
        <div class="grid-content small-12">
          <a ng-show="auth" class="button expand" href="#" zf-open="addRouteModal"><h4>Add Route</h4></a>
          <a ng-hide="auth" class="button expand" href="#" title="I'm sorry," content="You must login on the top right to add a route." color="alert" autoclose="3000" zf-notify="please-login"><h4>Add Route</h4></a>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
  <div class="grid-block small-12 show-for-small-only">
    <ul class="block-list no-bullet">
      <li class="routeList" ng-repeat="climb in climbs | orderBy : '-rating' | filter:climbSearch">
        <div class="grid-block">
          <!-- <div class="show-for-large grid-block">
            <img class="thumbnail" ng-src="{{ climb.image_url }}">
          </div> -->
          <div class="grid-block">
            <span class="dark badge">{{ climb.rating }}</span>
            <a ng-click="vote(climb,2)">
              <span class=""><i class="fa fa-thumbs-up fa-2x"></i></span>
            </a>
            <a ng-click="vote(climb,1)">
              <span class=""><i class="fa fa-thumbs-down fa-2x"></i></span>
            </a>
            <a href="https://www.facebook.com/actionfundclimbing" class=" button success">Donate Now!</a>
          </div>
          <a zf-open="routeDetails" ng-click="setPanelDetails(climb)">
          <div class="grid-block">
            <span>{{ climb.name }} | {{ climb.grade }}</span>
            <span class="hide-for-small">| {{ climb.sector }}</span>
          </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="grid-block  hide-for-small-only medium-up-3 large-up-4">
    <div class="grid-content" ng-repeat="climb in climbs | orderBy : '-rating' | filter:climbSearch">
      <div ng-show="auth" class="card singleClimbCard">
        <a zf-open="routeDetails" ng-click="setPanelDetails(climb)">
        <img ng-src="{{ climb.image_url }}">
        </a>
        <div class="card-divider">
          <a zf-open="routeDetails" ng-click="setPanelDetails(climb)">
          {{ climb.name }}, {{ climb.grade }} {{ climb.sector }}
          </a>
        </div>
        <div class="card-section">
          <a href="https://www.facebook.com/actionfundclimbing" class="expand button success">Donate Now!</a>
          <div class="align-center grid-block">
            <div class="grid-block medium-4">
              <span class="dark badge rating">{{ climb.rating }}</span>
              <!-- <p>{{ climb.description }}</p> -->
            </div>
            <div class="grid-block medium-4">
              <a ng-click="vote(climb,2)">
                <span class=""><i class="fa fa-thumbs-up fa-2x"></i></span>
              </a>
            </div>
            <div class="grid-block medium-4">
              <a ng-click="vote(climb,1)">
                <span class=""><i class="fa fa-thumbs-down fa-2x"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-hide="auth" class="card singleClimbCard">
        <a title="I'm sorry," content="You must login to edit a route." color="alert" autoclose="3000" zf-notify="please-login">
          <img ng-src="{{ climb.image_url }}">
          
          <div class="card-divider">
            {{ climb.name }}, {{ climb.grade }} {{ climb.sector }}
          </div>
        </a>
        <div class="card-section">
          <div class="align-center grid-block">
            <div class="grid-block medium-4">
              <span class="dark badge rating">{{ climb.rating }}</span>
              <!-- <p>{{ climb.description }}</p> -->
            </div>
            <div class="grid-block medium-4">
              <a ng-click="vote(climb,2)">
                <span class=""><i class="fa fa-thumbs-up fa-2x"></i></span>
              </a>
            </div>
            <div class="grid-block medium-4">
              <a ng-click="vote(climb,1)">
                <span class=""><i class="fa fa-thumbs-down fa-2x"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<zf-notification-set id="ratingChange" autoclose="3000" position="bottom-left"></zf-notification-set>


<zf-notification-set id="please-login" position="top-left"></zf-notification-set>
  


